@model IEnumerable<ProjetFinal.Models.Produit>
@{
    Session["link"] = "/Home/Produits";
}
<div class="container text-center">
    <form class="navbar-form" id="SearchForm" action="/Home/Search">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="keyvalue">
        </div>
        <button class="btn btn-default" id="Search">Rechercher</button>
    </form>
</div>
<form id="CreateForm" action="/Commande/Create">
    @Html.AntiForgeryToken()
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longeur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Langage)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Nom, "Details", "Home", new { id = item.ProduitId }, new { name = "produitDetail" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prix)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longeur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Langage)
                    </td>
                    <td>
                        @if (Request.IsAuthenticated)
                        {
                            <input type="checkbox" name="cour_@item.ProduitId" value="@item.ProduitId">
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    @if (Request.IsAuthenticated)
    {
        <p>
            <button id="Create" class="btn btn-default">Ajouter au panier</button>
            <span class="field-validation-error text-danger">@ViewBag.Error</span>
        </p>
    }
</form>
